.title-container {
    height: 20%;
    top: 1%;
}

.spectrum-analyzer-container {
    height: 10%;
    width: 100%;
    bottom: 5%;
}

.white-noise-dropdown-container .noise-dropdown-container {
    width: 100%;
    top: 5%;
}

.debug-container {
    height: 10px;
    top: 50px;
    width: 100%;
}

.arrow {
    font-size: xx-small;
}

.title {
    width: 100%;
}

.dropdown-label {
    bottom: 5%;
}

.all-dropdowns-container {
    width: 100%;
}

.dropdown-label-value {
    width: 100%;
}

.knob-container {
    child-space: 1s;
    col-between: 40%;
}

knob {
    width: 40px;
    height: 40px;
}

knob .tick {
    background-color: #eeece4be;
}

knob .track {
    background-color: #dcdbdb;
}

.gain-container {
    child-space: 1s;
    font-size: medium;
}

.mix-container {
    child-space: 1s;
    font-size: medium;
}
